@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background-color: #f9f9f7;
  color: #0b0b0b;
}

::selection {
  background-color: #cde2fb;
}
